#landing {
	display: grid;
	place-items: center;
	&-title {
		text-align: center;
		font-size: 92px;
		text-transform: uppercase;
		line-height: 60px;
		&-upper {
			text-align: center;
			font-size: 36px;
			text-transform: uppercase;
		}
	}
	&-info {
		text-align: center;
		margin-top: 20px;
		font-size: 18px;
		color: #eafcf1;
		max-width: 550px;
		width: 80vw;
	}
	&-cards {
		width: 95vw;
        max-width: 1335px;
        display: grid; 
		place-items: center;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 15px 15px; 
		.landing-card {
			margin-top: 30px;
			width: 300px;
			height: 100px;
			background: #070B07;
			padding: 20px 30px;
			transition: border ease-in-out .2s;
			border-radius: 5px;
			border: 1px solid transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			&-icon {
				display: grid;
				place-items: center;
				background: rgba(20, 118, 61, 0.09);
				min-width: 45px;
				min-height: 45px;
				border-radius: 50%;
				color: #199532;
				margin-right: 20px;
			}
			&-name {
				font-size: 22px;
			}
			&-text {
				color: #eafcf1;
			}
			&:hover {
				cursor: pointer;
				border: 1px solid #199532;
			}
		}
	}
}

@media only screen and (max-width: 680px) {
	#landing {
		&-title {
			line-height: 80px;
		}
	}
}