#feedback-category {
    max-width: 1335px;
    width: 90vw;
    margin: 0 auto;
	&-sorting-desktop {
		position: relative;
		display: flex;
		margin-bottom: 30px;
		background: #171F19;
		padding: 10px 10px;
		border-radius:5px;
		&-button {
			display: flex;
			align-items: center;
			margin-right: 10px;
			padding: 2px 10px;
			border-radius: 5px;
			&-label {
				margin-left: 4px;
			}
			&:hover {
				cursor: pointer;
			}
			&.active {
				background-color: #28362a;
			}
			&.filter {
				position: relative;
				width: max-content;
				#filter-button {
					display: flex;
					align-items: center;
				}
				&:hover {
					background-color: #28362a;
				}
			}
		}
		.sorting-separator {
			display: flex;
			align-items: center;
			background: rgba(0, 0, 0, 0.20);
			margin-right: 10px;
			width: 2px;
			height: 28px;
		}
	}
	&-sorting-mobile {
		position: relative;
		margin-bottom: 20px;
		&-button-options {
			display: flex;
			align-items: center;
			margin-right: 10px;
			max-width: max-content;
			padding: 2px 10px;
			border-radius: 5px;
			&.active {
				background-color: #28362a;
			}
			&-label {
				margin-left: 4px;
			}
			&:hover {
				cursor: pointer;
			}
		}
		&-buttons {
			position: absolute;
			top: 15px;
			left: 0;
			padding: 10px 10px;
			border-radius:5px;
			margin-top: 20px;
			background: #171F19;
		}
		&-button, #filter-button {
			display: flex;
			align-items: center;
			&.filter {
				display: flex;
				align-items: center;
				position: relative;
			}
			&-label {
				margin-left: 10px;
			}
			#feedback-category-filter-options-mobile {
				position: absolute;
				top: -30px;
				left: 125%;
				padding: 10px 10px;
				border-radius:5px;
				margin-top: 20px;
				background: #171F19;
				p {
					padding: 5px 0;
				}
			}
		}
	}
	&-filter-options {
		position: absolute;
		top: 40px;
		left: 0px;
		width: max-content;
		padding: 2px 10px;
		border-radius: 5px;
		background-color: #171F19;
		p {
			color: #b9b9b9;
			padding: 5px 0;
			&:hover {
				color: #ffffff;
			}
		}
	}
    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 6vh;
        margin-bottom: 20px;
        &-button {
			position: relative;
			&-create {
				position: relative;
				display: block;
				z-index: 2;

                font-family: 'Inter';
				font-weight: 500;

                border: 3px solid #14763d;
				background: #0b110c;
				color: white;
				width: max-content;
				padding: 10px 25px;
				transition: transform ease-in-out .3s, box-shadow ease-in-out .3s;
				box-sizing: border-box;
			}
			&-bg {
				content: '';
				position: absolute;
				top: 7px;
				left: 7px;
				height: calc(100% - 7px);
				width: calc(100% - 7px);
				background: #0b110c;
				border: 3px solid #14763d;
				transition: all ease-in-out .1s;
			}
			&:hover {
				#feedback-category-head-button-bg {
					top: 0;
					left: 0;
					height: calc(100% - 7px);
					width: calc(100% - 7px);
				}
			}
		}    
    }
	&-more {
		background: #171f19;
		padding: 10px 10px;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
	}
}