#feedback-new {
    max-width: 1335px;
    width: 50vw;
    margin: 5vh auto 0 auto;
    &-header {
        margin-bottom: 30px;
        &-info {
            width: 700px;
            color: #EAFCF1;
        }
    }
    &-category {
        &-title {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
        }
        &-inputs {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;
            .feedback-category-input {
                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    input[type="radio"] { display: none; }
                    .radioInput {
                        display: inline-block;
                        height: 15px; min-height: 15px; max-height: 15px;
                        width: 15px; min-width: 15px; max-height: 15px;
                        margin-right: 10px;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 0.1);
                        border: 2px solid white;
                        &.checked {
                            position: relative;
                            border: 2px solid #199532;
                            &::before {
                                display: block;
                                position: absolute;
                                top: 5px;
                                left: 5px;
                                content: '';
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background: #199532;
                            }
                        }
                    }
                }
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
    .feedback-new-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;

        height: 40px;
        min-width: 100px;
        
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        color: #ffffff;

        margin-top: 10px;
        border: none;
        border-radius: 3px;

        box-sizing: border-box; 
        user-select: none;
        &.disabled {
            background: #161F18;
            cursor: not-allowed;
        }
        &.enabled {
            background: #199532;
            cursor: pointer;
        }
    }
    .feedback-new-section {
        margin-top: 30px;
        &-title {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
        }
        &-input {
            width: 100%;
            min-height: 35px;

            padding: 5px 10px;

            font-family: 'Inter', sans-serif;
            font-size: 16px;
            color: #ffffff;

            background: #1C221D;

            border: none;
            border-radius: 5px;
            outline: none;
            box-sizing: border-box;
            &.ta {
                min-height: 100px;
                margin-bottom: 10px;
                resize: vertical;
            }
        }
    }
}