#feedback-post {
    max-width: 1335px;
    width: 90vw;
    margin: 5vh auto 0 auto;
    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-details {
            &-author {
                color: #B8B8B8;
            }        
        }
        &-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 250px;
            .feedback-button {
                display: flex;
                justify-content: center;
                align-items: center;
    
                height: 50px;
                min-width: 100px;
                
                border-radius: 5px;
    
    
                box-sizing: border-box; 
                user-select: none;
                cursor: pointer;
                svg {
                    margin-right: 5px;
                }
                &.upvote { background: #28362A; }
                &.upvoted { background: #199532; }
            }
            .delete {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 120px;

                color: #ff4c4c;

                user-select: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}