.feedback-post {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 80px;
    height: 80px;
    max-height: 80px;

    padding: 5px 15px;
    margin-bottom: 30px;

    border: 1px solid transparent;
    border-radius: 5px;

    background: #171F19;

    cursor: pointer;
    &-tag {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        margin-left: 10px;

        font-size: 12px;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        
        min-width: max-content;

        border: 2px solid transparent;
        border-radius: 50px;

        padding: 2.5px 10px 2.5px 7.5px;
        &.developer-response {
            color: #cedef0;
            border-color: #196395;
            background-color: rgba(25, 83, 149, 0.33);
        }
        &.accepted {
            color: #cef0d0;
            border-color: #199538;
            background-color: rgba(25, 149, 77, 0.33);
        }
        &.implemented {
            color: #eff0ce;
            border-color: #958d19;
            background-color: rgba(149, 141, 25, 0.33);
        }
        &.duplicate {
            color: #e8cef0;
            border-color: #801995;
            background-color: rgba(128, 25, 149, 0.33);
        }
        &.denied {
            color: #f0cece;
            border-color: #951919;
            background-color: rgba(149, 25, 25, 0.33);
        }
    }
    &-content {
        &-title { 
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & > p {
                word-wrap: break-word;
                word-break: break-word;
                display: -webkit-inline-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
        &-description {
            color: #afafaf;
            word-wrap: break-word;
            word-break: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
    &-stats {
        display: flex;

        height: 70%;
        &-comments {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            width: 100px;

            margin-right: 20px;

            color: #afafaf;
            &-count {
                margin-left: 5px;
            }
        }
        &-button {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 130px;
            
            border-radius: 5px;

            background: #28362A;  

            box-sizing: border-box; 
            user-select: none;
            cursor: pointer;
            svg {
                margin-right: 5px;
            }
            &.upvoted {
                background: #199532;
            }
        }
    }
    &:hover {
        border: 1px solid #199532;
    }
}