.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5vh;
	height: calc(100vh - 130px);
	&-text {
		display: grid;
		place-items: center;
		max-width: 681px;
		&-title {
			font-size: 92px;
			line-height: 98px;
			text-transform: uppercase;
			color: #ffffff;
		}
		&-slogan {
			font-size: 24px;
			text-align: center;
			font-family: "Inter";
			letter-spacing: 0.5px;
			color: #eafcf1;
		}
	}

	&-svg {
		position: absolute;
		z-index: -1;
		&-triangle {
			filter: drop-shadow(0px 0px 18px #14763d);
		}
	}

	&-cta {
		margin-top: 30px;
		position: relative;
	}
}

.quickinfo {
	width: 100%;
	display: grid;
	place-items: center;
	&-details {
		text-align: center;
		margin-bottom: 20px;
		&-title {
			font-size: 32px;
		}
		&-about {
			color: #eafcf1;
			font-size: 16px;
		}
	}
	&-content {
		background: #080c08;
		width: 735px;
		height: 25vh;
		border-radius: 5px;
		padding: 20px 30px;
		display: flex;
		&-col-2 {
			max-width: 50%;
			height: 100%;
			&-group {
				width: 95%;
				height: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				&-icon {
					display: grid;
					place-items: center;
					background: rgba(20, 118, 61, 0.09);
					min-width: 45px;
					min-height: 45px;
					border-radius: 50%;
					color: #199532;
					margin-right: 20px;
				}
				p {
					color: #eafcf1;
					font-size: 14px;
				}
			}
		}
	}
}

.info-cards {
	display: grid;
	place-items: center;
	&-card {
		background: #080c08;
		border-radius: 5px;
		padding: 20px 30px;
		width: 240px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		margin-bottom: 40px;
		&-icon {
			display: grid;
			place-items: center;
			background: rgba(20, 118, 61, 0.09);
			min-width: 45px;
			min-height: 45px;
			border-radius: 50%;
			color: #199532;
			margin-bottom: 20px;
		}
	}
}
