@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	& + * {
		min-height: calc(100vh - 300px);
	}
}

.desktop {
	width: 95%;
	max-width: 1335px;
	margin-top: 25px;
	height: 75px;
	background: #121b13;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 20px;
	&-left {
		display: flex;
		justify-content: center;
		align-items: center;
		&-links {
			margin-left: 20px;
			&-link {
				list-style: none;
				display: inline-block;
				&-discount {
					a {
						color: #ffcb00 !important;
						animation: discountFlash 2s infinite both;
					}
					#discount-countdown {
						background: #ffcb00;
						font-size: 12px;
						padding: 3px 5px;
						font-weight: 600;
						color: #000000;
						border-radius: 2px;
						margin-left: 10px;
					}
					& > * {
						display: inline-block;
						vertical-align: middle;
					}
				}
				a {
					font-size: 18px;
					color: #ffffff;
					&:hover {
						color: #65ce8f;
					}
				}
				&:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}
	&-right {
		display: flex;
		justify-content: center;
		align-items: center;
		&-link {
			list-style: none;
			font-size: 18px;
			color: #ffffff;
			&:not(:last-child) {
				margin-right: 10px;
				padding-right: 10px;
				border-right: 1px solid rgb(48, 68, 48);
			}
			&.highlight {
				color: #339a5d;
			}
		}
		#user-account {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(255, 255, 255, 0.05);
			padding: 10px;
			border-radius: 5px;
			cursor: pointer;
			user-select: none;
			img {
				border-radius: 50%;
				margin-right: 10px;
			}
			&-avatar {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				height: 32px;
				background: rgba(0, 0, 0, 0.4);
			}
			&-name {
				display: flex;
				justify-content: center;
				align-items: center;
				.material-icons {
					min-width: 24px;
					max-width: 24px;
					margin-left: 5px;
				}
			}
			&-dropdown {
				position: absolute;
				top: 70px;
				right: -20px;
				height: max-content;
				width: 175px;
				background: #121b13;
				border-radius: 5px;
				z-index: 9999;
				&-content {
					.dropdown-item {
						list-style: none;
						width: 100%;
						transition: background-color ease-in-out 0.1s;
						.dropdown-link {
							display: block;
							padding: 7px 20px;
							width: 100%;
							box-sizing: border-box;
							color: #ffffff;
							&.red {
								color: #ff6767;
							}
						}
						&:hover {
							background: rgba(0, 0, 0, 0.2);
						}
					}
				}
			}
		}
	}
}
