.button {
	position: relative;
	display: block;
	z-index: 2;
	font-size: 24px;
	font-family: "Inter";
	font-weight: 500;
	text-transform: uppercase;
	border: 3px solid #14763d;
	background: #0b110c;
	color: white;
	padding: 10px 25px;
	transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
	box-sizing: border-box;
	cursor: pointer;
}
