.quickinfo {
	width: 100%;
	display: grid;
	place-items: center;
	&-details {
		text-align: center;
		margin-bottom: 20px;
		&-title {
			font-size: 32px;
		}
		&-about {
			color: #eafcf1;
			font-size: 16px;
		}
	}
	&-content {
		background: #080c08;
		width: 735px;
		height: 25vh;
		border-radius: 5px;
		padding: 20px 30px;
		display: flex;
		&-col-2 {
			max-width: 50%;
			height: 100%;
			&-group {
				width: 95%;
				height: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				&-icon {
					display: grid;
					place-items: center;
					background: rgba(20, 118, 61, 0.09);
					min-width: 45px;
					min-height: 45px;
					border-radius: 50%;
					color: #199532;
					margin-right: 20px;
				}
				p {
					color: #eafcf1;
					font-size: 14px;
				}
			}
		}
	}
}

.info-cards {
	display: grid;
	place-items: center;
	&-card {
		background: #080c08;
		border-radius: 5px;
		padding: 20px 30px;
		width: 240px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		margin-bottom: 40px;
		&-icon {
			display: grid;
			place-items: center;
			background: rgba(20, 118, 61, 0.09);
			min-width: 45px;
			min-height: 45px;
			border-radius: 50%;
			color: #199532;
			margin-bottom: 20px;
		}
	}
}
