@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100%;
	max-width: 100vw;
	height: 100%;
	overflow-wrap: break-word;
	overflow-x: hidden;
	scroll-behavior: smooth;
	color: #ffffff;
	font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat";
}

a {
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}
