* {
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	// border: 1px solid red;
	&:focus-visible {
		outline: none;
	}
}

$bgMain: #0b110c;
$darkGreen: #39923c;

body {
	width: 100%;
	max-width: 100vw;
	height: 100%;
	overflow-wrap: break-word;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background: $bgMain;
	color: #ffffff;
	font-family: "Inter", sans-serif;
	a {
		text-decoration: none;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Montserrat";
	}
}
