#items {
    display: grid;
    place-items: center;
    vertical-align: top;
    .page-wrapper {
        width: 95%;
        min-height: 100%;
        max-width: 1335px;
        margin: 10px 0;
    }
    &-title {
        font-size: 40px;
    }
    &-filters {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        user-select: none;
        margin-top: 10px;
        margin-bottom: 20px;
        &-tabs {
            display: flex;
            margin-right: 15px;
            .items-tab {
                list-style: none;
                background: #151B16;
                padding: 8px 13px;
                border: 1px solid transparent;
                border-radius: 5px;
                transition: background-color ease-in-out .1s;
                &:not(:last-child) { margin-right: 10px; }
                &.selected {
                    border: 1px solid #199532;
                    background: #141F16;
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:not(.selected):hover {
                    cursor: pointer;
                    background-color: #1c221d;
                }
            }
        }
        &-search {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #151B16;
            border-radius: 5px;
            height: 38px;
            svg {
                transition: stroke ease-in-out .1s;
                padding: 8px 13px;
                margin-right: 10px;
                color: #7f8280;
            }
            &-input {
                padding: 8px 0px;
                color: #ffffff;
                background: transparent;
                outline: none;
                border: none;
                font-family: 'Inter', sans-serif;
            }
        }
        &-dropdown {
            position: relative;
            margin-right: 20px;
            width: 135px;
            &-selected {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #151B16;
                height: 38px;
                padding: 0px 12px;
                border-radius: 5px;
                cursor: pointer;
            }
            &-options {
                position: absolute;
                top: 45px;
                background: #151B16;
                padding: 3px 12px;
                border-radius: 5px;
                .items-filters-dropdown-option {
                    padding: 5px 0px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &-list-wrapper {
        display: flex;
        justify-content: start;
        align-items: top;
    }
    &-list-container {
        width: 100%;
    }
    &-list {
        display: grid; 
        grid-template-columns: repeat( auto-fit, minmax(110px, 1fr) );
        gap: 15px 15px; 
        .item-container {
            width: 100px;
            height: 100px;
            background: #171F19;
            border: 3px solid transparent;
            border-radius: 5px;
            display: grid;
            place-items: center;
            user-select: none;
            transition: background-color ease-in-out .1s;
            &.active {
                border-color: #199532;
                background: #141F16;
            }
            &:hover {
                cursor: pointer;
                background: #1d291f;
            }
        }
    }
    &-info-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        // border: 1px solid red;
    }
    &-info {
        margin-left: 10px;
        width: 430px;
        height: 550px;
        background: #171F19;
        padding: 30px 20px;
        border-radius: 5px;
        box-sizing: border-box;
        position: sticky;
        top: 15px;
        &-details {
            text-align: center;
            &-image {
                max-height: 100px;
                margin-bottom: 10px;
            }
            &-type {
                color: #c4c4c4;
            }
            &-description {
                margin-top: 20px;
            }
            &-effects {
                margin-top: 20px;
                h3 { font-weight: 600; }
            }
            &-rewards {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h3 { font-weight: 600; }
                &-icons {
                    margin-top: 10px;
                    display: grid; 
                    grid-auto-columns: 1fr; 
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
                    grid-template-rows: 1fr 1fr 1fr; 
                    gap: 10px;
                    width: 73%;
                    max-height: 150px;
                    overflow-y: auto;
                    grid-template-areas: 
                    ". . . . ."
                    ". . . . ."
                    ". . . . .";
                    .reward-item {
                        width: 43px;
                        height: 43px;
                        background: #263029;
                        border-radius: 5px;
                        list-style: none;
                        cursor: pointer;
                        display: grid;
                        place-items: center;
                    }
                }
            }
        }
        &-prices {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            position: absolute;
            bottom: 30px;
            width: calc(100% - 40px);
            h3 { font-weight: 600; }
            &-buy-num { color: #339A5D }
            &-sell-num { color: #339A5D; }
        }
    }
}

@media only screen and (max-width: 1053px) {
    #items {
        &-filters {

        }
        &-info {

        }
    }
}